.customFont {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 900;
    font-size: 72px; /* デフォルトフォントサイズ */
    line-height: 1;
    letter-spacing: 0.02em;
    text-align: center;
}

@media (min-width: 640px) {
    .customFont {
        font-size: 5vw; /* スモールスクリーンのフォントサイズ */
    }
}

@media (min-width: 1024px) {
    .customFont {
        font-size: 76px; /* ラージスクリーンのフォントサイズ */
    }
}
