@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }


  /* styles/global.css に追加 */
.drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.drag-over {
  background-color: #f0f0f0;
}

/* Markdown 全体のスタイル */
.markdown {
  color: #666; /* text-gray-800 ではなく具体的な色値で表現 */
}

/* リスト */
.markdown ol {
  list-style-type: decimal; /* @apply list-decimal ではなく具体的な値を使用 */
  padding-left: 10px; /* @apply pl-10 ではなく具体的な値を使用 */
}

.markdown ul {
  list-style-type: disc; /* @apply list-disc ではなく具体的な値を使用 */
  padding-left: 10px; /* @apply pl-10 ではなく具体的な値を使用 */
}

/* 見出し */
.markdown h2 {
  font-size: 2rem; /* sm, md, lg のような breakpoints を使用 */
  font-weight: bold;
  margin: 2rem 0; /* 統一感のあるマージン */
}

.markdown h3 {
  font-size: 1.25rem;
  font-weight: bold;
  border-bottom: 1px solid #000;
  margin: 1.5rem 0;
}

/* リンク */
.markdown a {
  color: #2980b9; /* text-blue-600 ではなく具体的な色値で表現 */
  text-decoration: none;
  transition: color 0.2s ease; /* ホバー効果をスムーズに */
}

.markdown a:hover {
  text-decoration: underline;
  color: #196095; /* ホバー時の色 */
}

/* 段落 */
.markdown p {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.8px;
  font-feature-settings: "palt";
  line-height: 1.6;
  margin-bottom: 2px; /* 統一感のあるマージン */
}

/* Amazon ボタン */
.markdown-amazon-button-wrapper {
  display: block;
  text-align: center;
  margin: 10px auto 0;
}

.markdown-amazon-button {
  background-color: #f0c14b;
  color: #615353;
  padding: 8px 12px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer; /* ボタンの視覚的なヒント */
}

.markdown-amazon-button:hover {
  background-color: #e9b950; /* ホバー時の色 */
}